.DS_Store
**/.DS_Store
*.pyc
.ipynb_checkpoints/*
__pycache__/*
img/*.svg
img/*.png
.idea
.vscode
env
venv
html
lib
hot_speech/202108_base_hot_comments.json
hot_speech/2022_classified_hot_comments.json
hot_speech/2023_classified_hot_comments.json